.pad
    padding: 50px 30px

@media only screen and (max-width: $small-breakpoint)
    .pad-mobile
        padding: 0 10%

.inside-pad
    padding: 25px 15px

.player
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%)

.dark
    color: $dark!important

.valign
    display: flex
    justify-content: center
    flex-direction: column

.outline
    border: solid 1px #a8a8a8
    margin: 25px
    @media only screen and (min-width: $large-breakpoint)
        min-height: 470px

.simple-outline
    border: solid 1px #a8a8a8

@media only screen and (min-width: $large-breakpoint)
    .hide-large
        display: none!important
    
@media only screen and (max-width: $large-breakpoint)
    .hide-small
        display: none!important
