.marginDiv{
    padding-left: 12%;
    padding-right: 12%;
}
.paragraphStyle{
    text-align: justify;
}

/* FOR BIG SCREENS */
@media (min-width: 1400px){
    .marginDiv{
        padding-left: 23%;
        padding-right: 23%;
    }
}

/* FOR MOBILE */
@media (max-width: 991px){
    .marginDiv{
        padding-left: 10px;
        padding-right: 10px;
    }
    .paragraphStyle{
        text-align: left;
    }
}