.styleBackgroundBlogAnimation{
    z-index: -1000;
    position: absolute;
}
.portaFiraAnimationStyle{
    width: 100vw;
    right: -23vw;
    top: 2vw;
    position: relative;
}
.plazaLibertadAnimationStyle{
    width: 100vw;
    right: -25vw;
    position: relative;
}
.nakaginCapsuleAnimationStyle{
    width: 100vw;
    right: 15vw;
    position: relative;
}
.comingSoonAnimationStyle{
    width: 43vw;
}
.textMarginPosts{
    padding: 0 14vw;
}
.summaryMarginPosts{
    padding: 0 20vw;
}
.marginDivPosts{
    padding: 0 3vw;
}
.cardImage{
    transition: all 0.5s;
}
.cardHover{
    text-decoration: none;
}
.cardHover:hover{
    cursor: pointer;
}
.cardHover:hover .cardImage{
    scale: 1.1;
}
.marginPostsHomePage{
    margin-right: 0;
    margin-left: 0;
}


/* GO TO BUTTON */
.goToButton{
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    color: #f8f9fa;
    background-color: #919e72;
    padding: 0.6vw 3vw;
    border: solid 0.1vw #919e72;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.goToButton:hover{
    color: #919e72;
    background-color: transparent;
    border: solid 0.1vw #919e72;
}

/* READ MORE LTAA BUTTON */
.readMoreLTAAButton{
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    color: #f8f9fa;
    background-color: #bc9e91;
    padding: 0.6vw 3vw;
    border: solid 0.1vw #bc9e91;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}
.readMoreLTAAButton:hover{
    color: #bc9e91;
    background-color: transparent;
    border: solid 0.1vw #bc9e91;
}


/* FOR BIG SCREENS */
@media (min-width: 1400px){
    .portaFiraAnimationStyle{
        width: 90vw;
        right: -25vw;
        top: 0;
    }
    .textStyleResponsive{
        padding-left: 150px !important;
        margin-top: 0 !important;
        height: 90vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .plazaLibertadAnimationStyle{
        width: 85vw;
        right: -30vw;
    }
    .nakaginCapsuleAnimationStyle{
        width: 95vw;
    }
    .marginDivPosts{
        padding: 0 10vw;
    }
    .marginPostsHomePage{
        padding: 0 15vw;
    }
}

/* FOR MOBILE */
@media (max-width: 991px){
    #subtitleMobile{
        font-size: 1.1rem !important;
        padding: 0 10px;
    }
    .portaFiraAnimationStyle{
        display: none;
    }
    .goToButton{
        padding: 10px 40px;
    }
    .plazaLibertadAnimationStyle{
        display: none;
    }
    .comingSoonAnimationStyle{
        width: 90vw;
    }
    .nakaginCapsuleAnimationStyle{
        display: none;
    }
    .textMarginPosts{
        padding: 0;
    }
    .summaryMarginPosts{
        padding: 0;
    }
    .marginDivPosts{
        padding: 0;
    }
    .readMoreLTAAButton{
        padding: 10px 40px;
    }
}