*{font-family: 'Lato', sans-serif;}
body{
    height: 100%;
}
.styleNavbar{
    z-index: 1000;
}

/* READ MORE BUTTON */
.readMoreButton{
    width: fit-content;
    font-weight: bold;
    font-size: 20px;
    color: #f8f9fa;
    background-color: transparent;
    padding: 0.6vw 3vw;
    border: solid 0.1vw #f8f9fa;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
}

.readMoreButton:hover{
    color: #212529;
    background-color: #f8f9fa;
    border: solid 0.1vw #212529;
}